name: Build Fabric Mod

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Upload mod jar
        uses: actions/upload-artifact@v3
        with:
          name: mod-jar
          path: build/libs/*.jar
